<ion-header
  *ngIf="
    page == 'unit-test' || page == 'paused-test' || page == 'question-papers'
  "
>
  <ion-toolbar class="toolbar" color="primary">
    <ion-label class="ion-margin-start" style="font-size: 4vw">
      <ion-text> Answered({{ answeredQuestions.length }}) </ion-text>
      <ion-text> / </ion-text>
      <ion-text>
        Not-Answered({{ totalQuestions.length - answeredQuestions.length }})
      </ion-text>
    </ion-label>
    <ion-button
      style="margin-right: 10px"
      (click)="closeQuestionPanel()"
      expand="block"
      fill="clear"
      color="light"
      slot="end"
    >
      Close
    </ion-button>
  </ion-toolbar>
  <ion-item
    *ngIf="subjectName.startsWith('CET')"
    class="ion-no-margin ion-no-padding"
  >
    <ion-label
      (click)="selectQuestion(phyQuestionsStart)"
      [color]="index < chemQuestionsStart ? 'primary' : ''"
      class="ion-margin-start ion-margin-end"
      style="font-size: 4vw; text-align: center"
      >Physics</ion-label
    >
    <ion-label
      (click)="selectQuestion(chemQuestionsStart)"
      [color]="
      index >= chemQuestionsStart && index < mathsQuestionsStart
        ? 'primary'
        : ''
    "
      class="ion-margin-start ion-margin-end"
      style="font-size: 4vw; text-align: center"
      >Chemistry</ion-label
    >
    <ion-label
      (click)="selectQuestion(mathsQuestionsStart)"
      [color]="index >= mathsQuestionsStart ? 'primary' : ''"
      class="ion-margin-start ion-margin-end"
      style="font-size: 4vw; text-align: center"
      >Maths</ion-label
    >
  </ion-item>
</ion-header>

<ion-content>
  <ion-grid
    [style]="subjectName.startsWith('CET') ? 'height: 70vh;' : 'height: 77vh;'"
  >
    <ion-row>
      <ion-col
        size="2.4"
        *ngFor="let question of questionArray"
        style="padding: 10px"
      >
        <div
          class="card"
          (click)="selectQuestion(question.index)"
          [style]="
            question.answered != ''
              ? 'background: var(--ion-color-success);'
              : 'background: var(--ion-color-primary);'
          "
        >
          <ion-label
            class="ion-text-center ion-no-margin ion-no-padding"
            style="height: auto"
            >{{ question.index + 1 }}</ion-label
          >
          <span *ngIf="question.index == index" class="badge"></span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
